



body {
    margin: 0%;
}

header {
    
    background-color: rgb(40, 0, 78);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: .0625rem solid rgb(0, 0, 0);
    
    font-family:'Roboto', sans-serif ;
    text-decoration: none;


}
h1{
    font-size: 4rem;
    color: white;
    text-decoration: none;
   
    
    
    
}
li {
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
    color: white;
    
    
}